// border:
$b-color-gray: rgba(147, 145, 145, 0.518);
$b-color-violet: rgba(94, 18, 157, 0.701);

// font:
$f-color-gray-3: #333;
$f-color-gray-4: #444;
$f-color-placeholder: #5807558c;
$f-color-linkHover: #333333b7; // наводится много на что можно. У всех разные цвета при наведении будут?


// button-font:
$f-button-white: white; // такие цвета есть у background/font возможно еще будет. Делать одинаковый цвет в разные переменные?
$f-button-light: #e2daec;

// background:
$bg-violet: #862ef1df;
$bg-modal: rgba(65, 65, 65, 0.461);
$bg-hover-modal: rgb(160, 237, 160);
$bg-active-modal:  rgb(116, 239, 116);






