@import "../../../style/border-style.scss";
@import "../../../style/font-style.scss";
@import "../../../style/colors.scss";
@import "../../../style/mixine.scss";


.default-input {
  @include defaultFormField;
}

.default-input:disabled {
  background-color: $white;
  color: $violet-3;
  font-weight: bold;
  outline: 1px solid $invisible;
}