@import "../../../style/mixine.scss";


.form {
  &__label {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.6rem;

    color: #333; // execute in color
    font-size: 1.4rem; // execute in font-style
    font-weight: 600;
  }

  &__input {
    @include defaultFormField;
  }
}

.error {
  color: rgb(245, 62, 62); // execute in color
  font-size: 1.2rem;
  margin-bottom: 0.6rem;
}