@import "../../style/colors.scss";
@import "../../style/border-style.scss";
@import "../../style/font-style.scss";


.modal-bg {
    background-color: $modal-background;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal {
    position: absolute;
    top: 5rem;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);

    background-color: $white;
    border-radius: $b-radus-4;
    font-family: sans-serif;
    padding: 1rem;
    width: auto;

    &__header {
        height: 15%;

        &__title {
            display: flex;
            height: 100%;
            align-items: center;

            font-size: $font-normal;
            font-weight: 600;
            margin-bottom: 1rem;
        }
    }

    &__body {
        height: 65%;
    }

    &__footer {
        height: 20%;
    }
}