.modal-bg {
    background-color: rgba(65, 65, 65, 0.461);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.modal {
    position: absolute;
    background-color: white;
    border-radius: 4px;
    padding: 1rem;
    width: auto;

    top: 5rem;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);

    font-family: sans-serif;

    &__header {
        height: 15%;

        &__title {
            display: flex;
            height: 100%;
            align-items: center;

            font-size: 1.7rem;
            font-weight: 600;
            margin-bottom: 1rem;
        }
    }

    &__body {
        height: 65%;
    }

    &__footer {
        height: 20%;
    }
}
