.header {
  padding: 2rem;
  align-items: center;
  display: flex;
  font-size: 1.7rem;
  height: 4rem;
  width: 100vw;

  &__link {
    margin-right: 1rem;
    color: #333;
    transition: all .3s;

    &:hover {
      color: #333333b7;
    }
  }
}