@import "../../style/font-style.scss";
@import "../../style/colors.scss";

.header {
  width: 100vw;
  height: 4rem;

  align-items: center;
  font-size: $font-normal;

  &__link {
    min-width: 7rem;
    margin-right: 1rem;
    color: $gray-3;
    transition: all .3s;

    &:hover {
      color: $hover;
    }
  }

  &__nav {
    display: flex;
    width: 32rem;
  }
}