// константы цветов
$black: black;
$gray-opacyti-1: rgba(147, 145, 145, 0.518);
$gray-opacyti-2: rgba(153, 152, 152, 0.461);
$gray-3: #333;
$gray-4: #444;
$danger-1: rgb(245, 62, 62);

$light: #e2daec;
$violet-1: #862ef1df;
$violet-2: rgba(94, 18, 157, 0.701);
$white: white;

// константы элементов
$placeholder: #5807558c;
$modal: rgba(65, 65, 65, 0.461);
$hover-modal: rgb(160, 237, 160);
$active-modal: rgb(116, 239, 116);

// константы для состояний
$hover: #333333b7;
