// константы цветов
$black: black;
$gray-opacyti-1: rgba(147, 145, 145, 0.518);
$gray-opacyti-2: rgba(153, 152, 152, 0.461);
$gray-3: #333;
$gray-4: #444;
$danger-1: rgb(245, 90, 90);

$light: #e2daec;
$violet-1: #862ef1df;
$violet-2: rgba(95, 18, 157, 0.945);
$violet-3: rgba(23, 22, 1, 0.75);
$white: white;


// константы элементов
$placeholder: #5807558c;
$modal: rgba(65, 65, 65, 0.461);
$hover-modal: rgb(160, 237, 160);
$active-modal: rgb(116, 239, 116);


// константы для состояний
$hover: #333333b7;
$hoverObject: rgba(218, 203, 242, 0.495);

// цвета для статусов
$status-C: blue;
$status-D: red;
$status-CM: grey;
$status-CN: $status-CM;
$status-CA: rgb(120, 120, 243);
$status-OWS:  violet;
$status-A1s: rgb(146, 224, 146);
$status-A2s: rgb(9, 133, 9);
$status-A3s: rgb(7, 97, 7);
$status-ABD: red;