@mixin layout-wrapper {
  padding: 0 1rem;
}

@mixin layout-inner {
  padding: 1rem;
}

// V2: много слоёв. Сделать 1 широкий, 1 средний, 1 мелкий. 
// ...а лучше к двум или к 1му свести.
@mixin layout-units-list {
  @include layout-inner;

  width: 108rem;
  margin: auto;
}

@mixin layout-unit-form {
  width: 30rem;
  margin: auto;
}

@mixin layout-global-stats {
  @include layout-inner;

  width: 80rem;
  margin: auto;
}

@mixin layout-month-stats {
  width: 46rem;
  margin: auto;
}