@import "../../style/mixine.scss";
@import "../../style/layouts.scss";

@mixin block {
  display: flex;
  flex-direction: column;
  margin: auto
}

.unit-form {
  @include layout-unit-form;

  &__block {
    margin-bottom: 1rem;
    width: auto;

    &__one {
      @include block;
    }

    &__two {
      @include block;
    }
  }
}

.buttons-block {
  display: grid;
  width: 26rem;
  margin: auto;

  grid-template-columns: repeat(2, 12rem);
  grid-template-rows: 4rem;
  gap: 0 2rem;
}