@import "../../style/font-style.scss";
@import "../../style/colors.scss";
@import "../../style/mixine.scss";
@import "../../style/layouts.scss";

.unit-list {
  @include layout-units-list;

  box-shadow: $shadow;
  font-size: $font-small;

  /* TO DO вынести или в UI компоненту или в Unit опустить
   * переделать на гриды
   */
  &__item {
    width: 100rem;
    margin: auto;
    display: grid;
    grid-template-columns:  4rem 5rem repeat(4, 1fr);
    margin-bottom: 0.2rem;
    gap: .5rem;
    justify-content: center;
    text-align: center;

    &__value {
      border: 1px solid green;
    }

  }
}

.item-update {
  padding: 0.2rem 0;
}

.item-update:hover {
  background-color: rgb(160, 237, 160); // execute in color
}

.item:active {
  background-color: rgb(116, 239, 116); // execute in color
}

.flex {
  display: flex;
}