.unit-list {
  width: 80vw;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 3rem) repeat(2, 8rem) 2.8rem 6rem repeat(2, 14rem) 3rem;
  gap: 1rem;
}

.unit-list-stock {
  background-color: greenyellow;
}

.item {
  padding: .2rem 0;
}