@import "../../style/font-style.scss";
@import "../../style/colors.scss";
@import "../../style/mixine.scss";
@import "../../style/layouts.scss";

.trigger {
  background-color: red;
  height: 10rem
}

.unit-list {
  @include layout-units-list;

  box-shadow: $shadow;
  font-size: $font-small;

  // Горизонтальное отображение Unit для общего списка
  &__commonView {
    display: grid;
    grid-template-columns: 4rem 5rem repeat(4, 1fr);
    gap: .5rem;

    width: 100rem;
    margin: auto;
    margin-bottom: 0.3rem;

    justify-content: center;
    text-align: center;
    transition: .2s;
    cursor: default;
    outline: 2px solid rgba(255, 255, 255, 0);
    border: 2px solid rgba(255, 255, 255, 0);

    &:hover {
      outline: 2px solid rgba(255, 255, 255, 0);
      border: 2px solid $hoverObject;
      border-radius: 5px;
    }
  }
}

.editUnit {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;

  width: 55rem;
  margin-bottom: 0.2rem;
}

.navigation {
  display: flex;
  flex-flow: row nowrap;
  gap: 1rem;
  margin-bottom: 2rem;
}

.delete-button {
  margin-left: 5rem;
  background-color: $danger-1;
}

.flex-line {
  display: flex;
  gap: 2rem;
}

// V2: перенести в компонент с пагинацией.
.button-paginator {
  display: flex;
  gap: 1rem;
  width: 2.8rem;
  height: 2.8rem;
  margin-bottom: 3rem;
}

.detail-view-wrapper {
  @include layout-unit-detail-view-edit;
}