.unit-list {
  box-shadow: 0.1px 1px 10px 1px #0000006f;
  font-size: 1.4rem;
  width: 144rem;
  margin: auto;

  &__titles {
    display: flex; // what does it do?
  }

  &__item {
    border: 1px solid red;

    display: flex;
    width: 140rem;
    margin: auto;
    margin-bottom: 0.2rem;
    height: 3rem;
    gap: 0.5rem;
    text-align: center;

    &__number {
      width: 2rem;
    }

    &__status {
      width: 4rem;
      // margin: 0 2rem;
    }

    &__name {
      width: 8.4rem;
      padding: 0, 2rem;
    }

    &__surname {
      width: 12rem;
    }

    &__was-old {
      width: 10rem;
      text-align: center;
    }

    &__date-meet {
      width: 8rem;
    }

    &__link {
      width: 26rem;
    }

    &__where-meet {
      width: 22rem;
    }

    &__type-meet {
      width: 10rem;
    }

    &__button {
      width: 3rem;
      height: 3rem;
    }
  }
}

.item-update {
  padding: 0.2rem 0;
}

.item-update:hover {
  background-color: rgb(160, 237, 160);
}

.item:active {
  background-color: rgb(116, 239, 116);
}

.flex {
  display: flex;
}
