.global-stats {
  width: 70rem;
  margin: auto;
  padding: 1rem;
  font-size: 2rem;

  border: 2px solid black; // execute in color/border
  border-radius: 5px; // execute in border

  &__general-info {
    border: 2px solid rgba(153, 152, 152, 0.461); // execute in color/border
    border-radius: 5px; // execute in border
    margin-bottom: 1rem;

    &__goal {
      margin-bottom: 1rem;
    }
  }

  &__period {
    width: 20rem;
    margin: auto;
    display: flex;
    justify-content: space-around;
  }

  &__block {
    display: grid;
    grid-template-rows: repeat(1fr, 3);
    margin-top: 1.5rem;

    &__marks {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      grid-template-columns: repeat(9, 1fr);

      justify-content: space-around;
      text-align: center;
      margin-bottom: 2rem;
    }
  }
}

.gs-inner {
  display: flex;

  &__calcucation {
    display: flex;
    justify-content: space-between;
    min-width: 8rem;
    margin-right: 2rem;
  }
}